/* App.css */

/* Regular styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  width:auto;
}


.container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  width:auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; /* Center the title horizontally */
  padding: 20px 0; /* Adjust padding */
  background-color: #de6d6d; /* Set a light background color */
  border: 1px solid #ddd; /* Add a border */
  width: 100%; /* Set width to 100% */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}


.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.select-wrapper {
  width: 200px; /* Adjust width as needed */
  margin-right: 10px; /* Add margin for spacing */
  display: inline-block; /* Display elements side by side */
  margin-top: 10px;
}

.filters label {
  margin-right: 10px;
  margin-bottom: 10px; /* Add some bottom margin to separate filters vertically */
  margin-top: 20px;
}

.select-wrapper {
  flex: 0 0 calc(15%); /* Each filter takes up 50% width with space between them */
  margin-bottom: 10px; /* Add some bottom margin to separate filters vertically */
}

.restaurant-table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.restaurant-table th,
.restaurant-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.restaurant-table th {
  background-color: #f2f2f2;
}

.restaurant-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.specials-table {
  width: 100%;
  table-layout: auto;
}

.specials-table td {
  padding: 5px 8px;
}

.specials-table td:first-child {
  width: 200px;
  width: 50px; 
}

.restaurant-image {
  width: 100%;
  height: auto;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .title {
    padding: 20px 0; /* Reduce padding for smaller screens */
    width: 100%;
    text-align: center;
    margin-right: 10px;
  }

  .filters {
    flex-direction: column; /* Stack filters vertically */
    align-items: center; /* Center filters vertically */
  }

  .select-wrapper {
    width: 100%; /* Make filters take up full width on smaller screens */
    margin: 0; /* Remove margin */
  }

  .select-wrapper:not(:last-child) {
    margin-bottom: 10px; /* Add margin between filters */
  }

  .restaurant-table th,
  .restaurant-table td {
    font-size: 10px; /* Reduce font size for smaller screens */
  }
}
